*{box-sizing:border-box;margin:0;padding:0;}
.wrapper{width:960px;margin:0 auto;}
h1{padding:30px 0;}
a{color:#0000ff;}
ol{padding:0 0 30px 30px;margin-bottom:30px;border-bottom:1px solid #000000;}
h2{margin-bottom:7.5px;}
img{width:460px;float:left;margin-right:20px;}
button{margin-bottom:30px;padding:5px 10px;}